.pane {
    -fx-pref-height: 500;
    -fx-pref-width: 900;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}

#pane2 {
    -fx-background-image: url('2.jpg');
}

#pane4 {
    -fx-background-image: url('4.jpg');
}

#pane8 {
    -fx-background-image: url('8.jpg');
}

#pane16 {
    -fx-background-image: url('16.jpg');
}

Team > Label {
    -fx-background-radius: 5;
}

.winner > Label {
    -fx-background-color: yellow;
    -fx-font-weight: bold;
}

.loser > Label {
    -fx-background-color: red;
}

/* Champion Box */
.top_three_container > Button {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.top_three_container > .first {
	-fx-background-color: #fdd80c;
}

.top_three_container > .second {
    -fx-background-color: silver;
}

.top_three_container > .third {
    -fx-background-color: sandybrown;
}