.team_container {
    -fx-pref-height: 500;
    -fx-pref-width: 900;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}

#pane2 > .team_container {
    -fx-background-image: url('2.jpg');
}

#pane4 > .team_container {
    -fx-background-image: url('4.jpg');
}

#pane8 > .team_container {
    -fx-background-image: url('8.jpg');
}

#pane16 > .team_container {
    -fx-background-image: url('16.jpg');
}

Team {
	-fx-background-color: #86ade2;
	-fx-text-fill: #ffffff;
}

Team:hover{
    -fx-background-color:#3d82df;
}

.winner{
    -fx-background-color:#3d82df;
    -fx-font-weight: bold;
}

.loser:hover{
    -fx-background-color: #86ade2;
}

.first {
	-fx-background-color: #fdd80c;
    -fx-font-weight: bold;
}

.first:hover {
	-fx-background-color: #fdd80c;
    -fx-font-weight: bold;
}

.second {
    -fx-background-color: silver;
    -fx-font-weight: bold;
}

.second:hover {
    -fx-background-color: silver;
    -fx-font-weight: bold;
}

.third {
    -fx-background-color: sandybrown;
    -fx-font-weight: bold;
}

.third:hover {
    -fx-background-color: sandybrown;
    -fx-font-weight: bold;
}

.champion {
}