#panes > Pane > Pane {
    -fx-pref-height: 500;
    -fx-pref-width: 900;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}

#panes > #pane2 > .team_container {
    -fx-background-image: url('2.jpg');
}

#panes > #pane4 > .team_container {
    -fx-background-image: url('4.jpg');
}

#panes > #pane8 > .team_container {
    -fx-background-image: url('8.jpg');
}

#panes > #pane16 > .team_container {
    -fx-background-image: url('16.jpg');
}

Team {
	-fx-background-color: #86ade2;
	-fx-text-fill: #ffffff;
}

Team:hover{
    -fx-background-color:#3d82df;
}

.winner{
    -fx-background-color:#3d82df;
    -fx-font-weight: bold;
}

.loser:hover{
    -fx-background-color: #86ade2;
}

.champion {
	-fx-background-color: #fdd80c;
}

.champion:hover {
	-fx-background-color: #fdd80c;
    -fx-font-weight: bold;
}