.pane {
    -fx-pref-height: 500;
    -fx-pref-width: 900;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}

#pane2 {
    -fx-background-image: url('2.jpg');
}

#pane4 {
    -fx-background-image: url('4.jpg');
}

#pane8 {
    -fx-background-image: url('8.jpg');
}

#pane16 {
    -fx-background-image: url('16.jpg');
}

Team {
    -fx-spacing: 5;
    -fx-background-color: white;
    -fx-text-fill: white;
}

Team > Label {
    -fx-background-radius: 5;
    -fx-label-padding: 3;
}

.winner > Label {
    -fx-background-color: #e8b542;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.loser > Label {
    -fx-background-color: #177a96;
    -fx-text-fill: white;
}

.top_three_container > Button {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.top_three_container > .first {
    -fx-background-color: gold;
}

.top_three_container > .second {
    -fx-background-color: silver;
}

.top_three_container > .third {
    -fx-background-color: sandybrown;
}

/*.confirm_container > Button {*/
/*!*-fx-background-color: black;*!*/
/*-fx-text-fill: white;*/
/*-fx-background-color: linear-gradient(from 0px 0px to 0px 50px, gray, darkgray 50%, dimgray 99%, white);*/
/*!*-fx-background-radius: 5, 4, 3, 5;*!*/
/*!*-fx-background-insets: 0, 1, 2, 0;*!*/
/*!*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);*!*/
/*!*-fx-text-fill: linear-gradient(white, #d0d0d0);*!*/
/*!*-fx-font-size: 12px;*!*/
/*!*-fx-padding: 6 14 6 14;*!*/
/*}*/

.confirm_container > Button {
    -fx-background-color: #49a9c7;
    -fx-text-fill: white;
/* 
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-border-color: #00D5CF;*/
    
    -fx-padding: 6, 8, 6, 8;
}

.confirm_container > Button:hover {
    -fx-background-color: #008CBA;
}
